@using RepoNikon.Models.ViewModeles
@model ForsideKategorier
@{
    ViewBag.Title = "Index";
}

<h2></h2>
<form id="Myform" action="/Home/Index/" enctype="multipart/form-data" method="POST">
    <div class="row">
        <div class="OrbitSliderBilleder">
            <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                <ul class="orbit-container">
                    <li class="is-active orbit-slide">
                        <div>
                            <div class="MaxBilledeStorelse"><img src="~/Content/Pic/Banner01.jpg"/>
                            </div>
                        </div>
                    </li>
                    <li class="orbit-slide">
                        <div>
                            <div class="MaxBilledeStorelse"><img src="~/Content/Pic/Banner02.jpg"/>
                            </div>
                        </div>
                    </li>
                    <li class="orbit-slide">
                        <div>
                            <div class="MaxBilledeStorelse"><img src="~/Content/Pic/Banner03.jpg"/>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="orbit-bullets">
                </div>
            </div>

        </div>

    </div>

    <div class="row ">

        <div class=" Billedebox medium-3 large-3 columns ">
            <img src="/Content/Pic/@Model.kat1.billede"/>
        </div>
        <div class="  Billedebox medium-3 large-3 columns">
            <img src="/Content/Pic/@Model.kat3.billede"/>
        </div>
        <div class="  Billedebox medium-3 large-3 columns">
            <img src="/Content/Pic/@Model.kat2.billede"/>
        </div>
        <div class=" Billedebox medium-3 large-3 columns">
            <img src="/Content/Pic/@Model.kat1.billede"/>
        </div>

    </div>

    <div class="row">
        <div class=" Billedetextbox medium-3 columns">
            <div class="p2">@Model.kat1.text</div>
        </div>
        <div class="  Billedetextbox medium-3 columns">
            <div class="p2">@Model.kat2.text</div>
        </div>
        <div class="  Billedetextbox medium-3 columns">
            <div class="p2">@Model.kat3.text</div>
        </div>
        <div class=" Billedetextbox medium-3 columns">
            <div class="p2">@Model.kat4.text</div>
        </div>

    </div>
</form>

