
@{
    ViewBag.Title = "Index";
}

<h2>Side</h2>

<div class="row">
    <div class=" Billedebox medium-3 columns">
        Img
    </div>
    <div class="  Billedebox medium-3 columns">
        Img
    </div>
    <div class="  Billedebox medium-3 columns">
        Img
    </div>
    <div class=" Billedebox medium-3 columns">
        Img
    </div>

</div>
<div class="row">
    <div class=" Billedetextbox medium-3 columns">
        <div class="p2">  Text</div>
    </div>
    <div class="  Billedetextbox medium-3 columns">
        <div class="p2">  Text</div>
    </div>
    <div class="  Billedetextbox medium-3 columns">
        <div class="p2">  Text</div>
    </div>
    <div class=" Billedetextbox medium-3 columns">
        <div class="p2">  Text</div>
    </div>

</div>