

body {  background-color: white !important;
}

Header {
    background-color: #161616;
    text-align: center;
}

ul li a {
    margin-left: 110px;
}

ul li a:hover {
    margin-left: 110px;
    text-decoration: underline;
}

.OrbitSliderBilleder {
    width: 960px;
    margin-top: -8px;
}

nav {
    background-color: #E0D4BE !important;
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
    width: 960px;
}

nav ul li a {
    color: black !important;
    background-color: #E0D4BE !important;
    font-size: 1.2em !important;

    
 }
.imgslider {
    text-align: center;
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Billedetextbox {
    border-bottom: 1px solid orange;
    border-right: 1px solid orange;
    border-left: 1px solid orange;
    text-align: center;
    background-color: #161616;
}
.Billedebox {
     border-bottom: 1px solid orange;
    border-right: 1px solid orange;
    border-left: 1px solid orange;
    border-top: 1px solid orange; 
    text-align: center;

}

.p2 {
    color:white;
}
.MaxWith {
   
max-width: 1000px;
    margin: auto;
}
img {
    width: 110%;
}


h4 {
    color: gray !important;
    text-align: center;
    font-size: 18px;
}


border {
    border: 1px solid palegreen;
    border-bottom: none;
    border-top: none;
}
.colorbox {
    text-align: center; 
    max-width: 1000px;
    margin: auto;
   
    
}
footer {
    background-color: #E0D4BE !important;
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
}



.coloerboxx {
    background-color: gainsboro !important;

}

.bordermid {
    border: solid 1px gray;
    box-sizing: border-box;
    margin: auto;
    width: 970px;
    border-top: none;
    border-bottom: none;
    background-color: white;
}
 



.ImagesBackgoundcolor {
    background-color: gray;
}
.knap {
    margin-bottom: 10px;
}
ul {
    margin-left: 10px;
     
}
.Jump {
    margin-left: -25px;
    margin-bottom: 10px;
}
.Sidesldie {
    margin-left: -25px;    
}
.advanceSearge {
    font-size: 0.9em;
    margin-left: 55px;
    margin-top: -18px;
    width: 100px;
    float: left;
    padding-bottom: 20px;
}
.Midborder {
    margin-top: 10px;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom: none;
    min-height: 500px;
}







